@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;
@use "../../../styles/typography" as t;

.skeleton-product {
  .skeleton-image {
    @include m.skeleton(100%, 100%);
    aspect-ratio: 1/1;
    margin-bottom: 1rem;
  }
  .skeleton-title {
    @include m.skeleton(30px, 90%);
    margin-bottom: 1rem;
  }

  .skeleton-price {
    @include m.skeleton(15px, 30%);
    margin-bottom: 1rem;
  }
}
