@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;
@use "../../../styles/typography" as t;

.not-found {
  text-align: center;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    @include t.font-h1;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 3rem;
  }

  .go-home {
    @include m.button;
    margin-inline: auto;
  }
}
