@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;
@use "../../../styles/typography" as t;

.related-products {
  h2 {
    @include t.font-text-large;
    font-family: v.$orbitron;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .related-product-list {
    list-style: none;
    padding: 0;
    gap: 2rem 1rem;

    li {
      position: relative;
      figure {
        aspect-ratio: 15/16;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      img {
        transition: transform 0.3s;
        aspect-ratio: 15/16;
      }
      &:hover {
        img {
          transform: scale(1.02);
        }
      }
      .product-info {
        @include t.font-text-medium;
        color: v.$primary;
      }
      .price {
        font-weight: 700;
      }
    }
  }
  @media (min-width: 581px) {
    .related-product-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 1rem;
    }
  }
  @media (min-width: 1181px) {
    .related-product-list {
      grid-template-columns: repeat(3, 1fr);
      li a figure,
      li a img {
        aspect-ratio: 14/15;
      }
    }
  }
  @media (min-width: 1440px) {
    .related-product-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
