@import "../../../styles/includes";

.category-view {
  overflow: hidden;
  padding-block: 3rem;
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    gap: 1rem;
    button {
      @include button;
    }
    @media (max-width: 680px) {
      flex-direction: column-reverse;
    }
  }
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: $primary;
  }
  .product-list {
    list-style: none;
    padding: 0;
    gap: 2rem 1rem;

    li {
      position: relative;
      // margin-bottom: 0;
      figure {
        aspect-ratio: 15/16;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      img {
        transition: transform 0.3s;
        aspect-ratio: 15/16;
      }
      &:hover {
        img {
          transform: scale(1.02);
        }
      }
      .product-info {
        @include font-text-medium;
        span {
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }
  @media (min-width: 581px) {
    .product-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1181px) {
    .product-list {
      grid-template-columns: repeat(3, 1fr);
      li a figure,
      li a img {
        aspect-ratio: 14/15;
      }
    }
  }
  @media (min-width: 1440px) {
    .product-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
